<!-- Seccion presentacion tarjeta con foto horizontal-->
<div class="px-3 py-2 bg-dark text-white">
  <div class="container-fluid">
    <h5 style="text-align: center;">Acerca de...</h5>
  </div>
</div>

<div class="card xl-1" style="margin-bottom: .5em; margin-top: .5em;">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="..\..\assets\imagenes\fotoperfil.jpg" id="fotoperfil" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{miPortfolio.nombre}}</h5>
        <h6>{{miPortfolio.titulo.licenciatura}}</h6>
        <h6>{{miPortfolio.titulo.desarrollador}}</h6>
        <h6>{{miPortfolio.titulo.tiro}}</h6>
        <h6>{{miPortfolio.titulo.motos}}</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>

      </div>
    </div>
  </div>
</div>