<!-- Seccion Educacion grupo de tarjetas -->
<div class="px-3 py-2 text-white">
  <div class="container-fluid">
    <h5 style="text-align: center;">Educación</h5>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-0" style="margin: .5em;">
  <div class="card" *ngFor="let escuelas of educacionList">
    <img [src]="escuelas.foto" class="card-img-top" alt="..." style="border-radius: 50%;">
    <div class="card-body">
      <h5 class="card-title">{{escuelas.nombre}}</h5>
      <ul class="card-text" style="text-align: justify;">
        <li> Nivel: {{escuelas.nivel}}</li>
        <li> Titulo: {{escuelas.titulo}} </li>
        <li>Ingreso: {{escuelas.ingreso}}</li>
        <li>Egreso: {{escuelas.egreso}}</li>
      </ul>


    </div>
  </div>
</div>