 <!-- Seccion Experiencia -->
  
 <div class="px-3 py-2 text-white" >
    <div class="container-fluid">
      <h5 style="text-align: center;">Experiencia</h5>
    </div>
 </div>

 <div class="card-group" style="margin: .5em;">
  <div class="card">
    <img src="./Imagenes/orionelogo.jfif" class="card-img-top" alt="Bonetti" style="border-radius: 50%;">
    <div class="card-body">
      <h5 class="card-title">Inst. Padre Valentin Bonetti</h5>
      <p class="card-text" style="text-align: justify;">...</p>
    </div>
  </div>
  <div class="card">
    <img src="./Imagenes/iusplogo_400x400.png" class="card-img-top" alt="..." style="border-radius: 50%;">
    <div class="card-body">
      <h5 class="card-title">Escuela de Policia Gral D. José de San Martin</h5>
      <p class="card-text" style="text-align: justify;">...</p>
    </div>
  </div>
  <div class="card">
    <img src="./Imagenes/iusplogo_400x400.png" class="card-img-top" alt="..." style="border-radius: 50%;">
    <div class="card-body">
      <h5 class="card-title">Instituto Universitario de Seguridad Publica</h5>
      <p class="card-text" style="text-align: justify;">...</p>
      
      
    </div>
  </div>
</div> 
  
