body{
    padding: 0;
      padding-block: 0;
      margin-block: 0em;
      background-color: #c7c7c7;
      }
  
  #logo{
      width: 10em;
      padding: 0;
      margin: 0;
      align-items: flex-start;
  }
  
  #fotoperfil{
      width: 10em;
      border-radius: 50%;
      margin-left: 0;
      position: relative
  }
  .img-fluid {
    width:12em;
    margin-left: .5em;
  }
  .card-img-top{
    width: 10em;
    border-radius: 50% 50% 50% 50%;
    margin: .5em;
    background-color: grey;
  }
  #login {
    background-color: transparent;
    border-color: white;
    font: white;
    }
  #banner{
     background-size: cover;
     position:absolute;
     border-radius: 1em;
     margin: 0;
  }    
   .px-3{
    border-radius: 1em;
    margin-top: .5em;
    margin-bottom: .5;
      }
  .card {
    border-radius: 1em;
  }
  